@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Macondo&display=swap');

body{
    background-color: #ffb3ff;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1{
    background-color: lightblue;
    padding: 10px;
}

/* div {
    font-size: 10px;
} */

h1 {
    color: hsl(240, 100%, 35%);
}

h3 {
    color: darkolivegreen;
    background-color: rgb(255, 255, 153);
    padding: 10px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

p{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
}

#second-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: blueviolet;
}

#box-model{
    background-color: lightgray;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    /* margin: 20px; */

    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; */

    /* margin: 5px 10px 5px 10px; */

    margin: 5px 10px;
}

.categories{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
}

.categories a:hover{
    color: red;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted gray;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form .input-type{
    width: 100%;
    padding: 8px;
}

.button{
    padding: 10px 15px;
    border: none;
    background-color: darkmagenta;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

.button:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}

.block{
    float: left;
    width: 33.33%;
}

.clearfix{
    clear: both;
}

#main__block{
    float: left;
    width: 70%;
    padding: 15px;
    border: 1px solid gray;
    box-sizing: border-box;
}

#side__bar{
    float: right;
    width: 30%;
    padding: 15px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.position-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-image: url('./images/large-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.position-box h1{
    position: absolute;
    top: 140px;
    left: 200px;
}

.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.fixed-button{
    position: fixed;
    top: 20px;
}

.my-list li:first-child{
    background-color: aquamarine;
}

.my-list li:last-child {
    background-color: lightcoral;
}

.my-list li:nth-child(5){
    background-color: lightgreen;
}

.dynamic-list li:nth-child(even){
    background-color: lightblue;
}

.dynamic-list li:nth-child(odd){
    background-color: lightcoral;
}