@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

body{
    background-color: var(--very-dark-blue);
    color: var(--pale-blue);
    font-size: 14px;
    margin: 0;
}

.container{
    background: url("./images/bg-desktop.png") no-repeat bottom;
    background-size: contain;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: stretch;
    justify-items: center;
    height: 100vh;
}

.card{
    display: grid;
    gap: 24px;
    justify-content: stretch;
    align-items: end;
    max-width: 960px;
    grid-template-columns: 1fr 1.5fr;
}

.navigation{
    background-color: var(--dark-blue);
    padding: 36px;
    min-height: 175px;
    min-width: 175px;
    display: grid;
    justify-content: stretch;
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px 80px 8px 8px;
}

.navigation-bar{
    display: flex;
    gap: 12px;
}

.nav-item{
    background-color: var(--very-dark-blue);
    border-radius: 6px;
    box-shadow: none;
    border: none;
    height: 48px;
    width: 48px;
    padding: 12px;
}

.details-wrapper{
    display: flex;
    flex-direction: column;
}

.details-container{
    background-color: var(--dark-blue);
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    min-height: 125px;
    padding: 24px;
    width: 100%;
}

.details-range{
    display: flex;
    justify-content: space-between;
}

.range-indicator-container{
    background-color: var(--very-dark-blue);
    border-radius: 20px;
    height: 20px;
    margin: 12px 0;
}

.range-indicator{
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
    height: 16px;
    margin: 2px;
    width: 81%;
    display: flex;
    flex-direction: row-reverse;
}

.range-point{
    background: var(--pale-blue);
    border-radius: 20px;
    height: 14px;
    margin: 1px;
    width: 14px;
}

.details-remaining{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--pale-blue);
    border-radius: 4px;
    color: var(--very-dark-blue);
    gap: 4px;
    padding: 18px;
    max-width: 175px;
    position: relative;
}

.details-remaining span{
    font-size: 24px;
    font-weight: bold;
}

.details-remaining:before{
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--pale-blue);
    border-top: 10px solid var(--pale-blue);
    content: "";
    position: absolute;
    right: 0;
    top: 63px;
}

.details-remaining{
    align-self: flex-end;
    right: 24px;
    top: 24px;
}

@media screen and (max-width: 650px){
    .card{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        width: 400px;
        margin: 0 auto;
    }
    .container{
        background: url("./images/bg-mobile.png") no-repeat;
        background-size: cover;
        justify-items: stretch;
    }

    .details-wrapper{
        position: relative;
        flex-direction: column-reverse;
    }

    .details-remaining{
        align-self: center;
        position: absolute;
        right: 142px;
        top: 135px;
    }

    .details-remaining:before{
        display: none;
    }
}